*{margin:0;padding:0;}
html{height:100%;width:100%;}
body{background:#ddd;color:#333;height:100%;font-family:Sans;position:relative;}
a{color:#ff0066;text-decoration:none;}
a:hover{text-decoration:underline;}
h1,h2,h3{font-size:20px;}
#wrapper{display:block;margin:0 auto;width:760px;}#wrapper #header{text-align:center;padding:40px 0;}
#wrapper #content{padding-bottom:40px;}
#footer{color:#ddd;background:#222;font-size:12px;height:60px;width:100%;line-height:60px;text-align:center;margin-bottom:-60px;position:absolute;bottom:0;}
.blog-title{font-size:28px;}
.blog-description{font-size:18px;font-weight:normal;}
.post-entry{padding-bottom:20px;}
.post-entry-title{font-size:20px;}
