*{margin:0;padding:0;outline:none;}
a{color:#113388;text-decoration:none;}
html{height:100%;width:100%;}
body{background:#ccc;font-family:Sans;height:100%;position:relative;}
hr{margin:10px 0;}
li{list-style:none;}
.shadowing{box-shadow:0 0 20px #000;-moz-box-shadow:0 0 20px #000;-webkit-box-shadow:0 0 20px #000;-o-box-shadow:0 0 20px #000;}
.rounded{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;}
.login-box{display:block;width:155px;height:400px;top:50%;left:50%;margin-left:-77.5px;margin-top:-30px;position:absolute;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;}
.box{background:#fff;display:block;width:600px;min-height:200px;margin:0 auto;padding:10px;margin-top:50px;box-shadow:0 0 20px #000;-moz-box-shadow:0 0 20px #000;-webkit-box-shadow:0 0 20px #000;-o-box-shadow:0 0 20px #000;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;}
